USE [master]
GO
/****** Object:  Database [Actividad2]    Script Date: 9/09/2025 10:38:13 p. m. ******/
CREATE DATABASE [Actividad2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Actividad2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Actividad2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Actividad2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Actividad2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Actividad2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Actividad2]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 9/09/2025 10:38:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[DocumentoCliente] [int] NOT NULL,
	[NombreCliente] [nvarchar](200) NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
	[Direccion] [nvarchar](200) NOT NULL,
	[Telefono] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DocumentoCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 9/09/2025 10:38:14 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Documento] [int] NOT NULL,
	[Usuario] [nvarchar](200) NOT NULL,
	[Clave] [nvarchar](200) NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
